<div class="home__container">
  <app-card gameCover="assets/gow-rag.webp"
  gameLabel="Exclusive" gameType="Digital PS4" gamePrice="US$ 29.99"></app-card>

  <app-card gameCover="../../../assets/cod-black-ops.jpg" gameLabel="Limited" gameType="Disc PS5" gamePrice="US$ 39.95"></app-card>

  <app-card gameCover="assets/kof14.jpg" gameLabel="Exclusive" gameType="Disc PS5" gamePrice="US$ 39.95"></app-card>

  <app-card gameCover="assets/ghost-recon.webp" gameLabel="Limited" gameType="Digital PS5" gamePrice="US$ 24.99"></app-card>

  <app-card gameCover="assets/resident-ev3.webp" gameLabel="Ultra HD" gameType="Disc PS5" gamePrice="US$ 39.95"></app-card>

  <app-card gameCover="assets/samurai-sh2.jpg" gameLabel="Remastered" gameType="Disc PS2" gamePrice="US$ 9.95"></app-card>
</div>
