<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="" width="150px" height="38px">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://linkedin.com/in/inaldo-fbjr" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/inaldosilva" target="_blank">Github</a></li>
      <li><a href="https://codepen.io/inaldosilva" target="_blank">Codepen</a></li>
      <li><a href="https://inaldosilva.netlify.app" target="_blank">InaldoSilva</a></li>
    </ul>
  </div>
</div>
