* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 13%, rgba(4, 4, 38, 1) 44%, rgba(4, 147, 177, 1) 82%);
}
